<h1>user/show</h1>

<h4>name</h4>
<p><%= @user.name %></p>
<h4>introduction</h4>
<p><%= @user.introduction %></p>
<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img", fallback: "no_image.jpg" %>

<%= link_to "edit", edit_user_path(@user.id) %>

